*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body,html{
    height: 100%;
    width: 100%;
}

#top{
    display: grid;
    grid-template-columns:1.3fr 1.8fr 0.3fr;
    padding: 10px;
    align-items: center;
    background-color:rgb(235, 12, 12);
}
#top h1{
    color: white;
}
#nav__top ul {
    display: flex;
    list-style:none;
    gap: 50px;
    
    
}
#nav__top ul li a{
    text-decoration: none;
    font-size: 1.3rem;
    color:white;

}

#nav__top ul li a:hover{
    transition:0.8s;
    color: black;
}

#openCart{
    background:none;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor:pointer;
}

#openCart:hover{
    transition:0.8s;
    color: black;
}

#cart{
    position:absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: gray;
    width: 30%;
    z-index:1;
}

#cart__products{
    border: 1px solid white;
    height: 65%;
    padding: 10px;
}


#send__request{
    position:absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    text-transform:uppercase;
    padding: 10px;
    border-radius: 7px;
}

#close__cart{
    position:absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    text-transform:uppercase;
    padding: 10px;
    border-radius: 7px;
}
